<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>pubnub-element Demo/Testing</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="pubnub-element.html">
  <link rel="import" href="old-demo-element.html"> 


</head>
<body >
<h1>TESTING</h1><hr><hr>
<!--  
  <core-pubnub publish_key="demo" subscribe_key="demo" id="core">
  <core-pubnub-subscribe channel="what" id="sub">
      <core-pubnub-publish channel="what" id="pub" message='["wat", "DAH" ]'>
        <core-pubnub-publish channel="what" id="pub" message="lol">
        </core-pubnub-publish>
      </core-pubnub-publish>
    </core-pubnub-subscribe>
    <core-pubnub-history channel="what" id="hist">
    </core-pubnub-history>
  </core-pubnub>
-->
  <list-data></list-data>
</body>
</html>
